{% extends 'base.html.twig' %}

{% block title %}
    ImmoAgence
{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Immo Agence</h1>
            <p>
                Notre site Web vous permet de rechercher des listes de propriétés et comprend
                un grand inventaire de villas de luxe qui correspondent à vos choix
                de style de vie tels que le front de mer, le golf, les vacances,
                la montagne et bien d'autres.
            </p>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Les dérniers bien</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug }) }}">{{ property.getPropertyTitle() }}</a>
                        </h5>
                        <p class="card-text">{{ property.getPropertyCity() }} ({{ property.getPropertyPostalCode() }})</p>
                        <div class="text-primary">{{ property.getFormattedPrice() }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}